<ng-container [ngSwitch]="rota">

    <ng-template [ngSwitchCase]="'/inicio'">
      <app-nav-bar-inicio></app-nav-bar-inicio>
    </ng-template>

    <ng-template [ngSwitchCase]="'/login'">
        <app-nav-bar-login></app-nav-bar-login>
    </ng-template>

    <ng-template [ngSwitchCase]="'/cadastro'">
        <app-nav-bar-login></app-nav-bar-login>
    </ng-template>

    <ng-template ngSwitchDefault>
      <h1>TESTEEEEEEEE</h1>
    </ng-template>

</ng-container>

<router-outlet></router-outlet>