<!-- Consultar Nutricionista -->
<div class="consultar-nutri">
    <div class="container">
        <div class="title">
            <h1>Encontre um nutricionista</h1>
            <p>Nutricionistas especialistas em diversas áreas</p>
        </div>
    
        <div class="atendimentos">
            <button 
                mat-flat-button
                matTooltip="Entre em contato com um nutricionista para saber qual o tipo de atendimento que ele realiza"
            >
                Atendimento Presencial
            </button>
            <button 
                mat-flat-button
                matTooltip="Entre em contato com um nutricionista para saber qual o tipo de atendimento que ele realiza"
            >
                Teleconsulta
            </button>
        </div>
    
        <div class="formulario">
            <form [formGroup]="formulario">
    
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Nome do Nutricionista</mat-label>
                    <input matInput formControlName="nome">
                </mat-form-field>
    
                <div>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Especialidade</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
        
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Região</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
                </div>
    
                <div class="submit">
                    <button mat-flat-button type="submit" (click)="submeterFormulario()">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
</div>
