/* Mobile first */

/* Botões */
button {
    background-color: #F49320 !important;
    color: #FFF !important;

    &:hover {
        background-color: #ca7b1a !important;
    }
}

/* Consultar Nutricionista */
.consultar-nutri {
    width: 100%;
    height: 90%;
    background: url('../../../assets/img/background.png') no-repeat bottom/500%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        width: 50%;
    }
}

.title {
    margin-bottom: 5px;

    h1 {
        font-weight: bold;
        font-size: 22px;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 1px solid #FFF;
        text-align: center;
        margin-bottom: 5px;
    }

    p {
        display: none;
        color: #fff;
        border-bottom: 1px solid #FFF;
    }
}

.atendimentos {
    display: none;
}

.formulario {
    mat-form-field {
        width: 100%;
    }

    /* div do botão do formulário */
    .submit {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}

/* Lifestyle */
.lifestyle {
    width: 100%;
    height: auto;
}

.lifestyle-title {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('../../../assets/img/lifestyle.png') no-repeat right;
    animation: moveBackground 4s linear infinite;

    h1 {
        font-size: 22px;
    }
}

// Animação para o background se mover:
@keyframes moveBackground {
    from {
        background-position: -150% 0;
    }
    to {
        background-position: 250% 0;
    }
}

.lifestyle-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    li {
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    img {
        width: 25px;
        margin-right: 5px;
    }
}

.morangos {
    display: none;
}

.atividades {
    display: none;
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* Consultar Nutricionista */
    .consultar-nutri {
        height: 90%;
        background: url('../../../assets/img/background.png') no-repeat top/135%;
    }

    .title {
        h1 {
            font-size: 22px;
            border-bottom: none;
            text-align: start;
            margin-bottom: 0;
        }

        p {
            display: block;
            color: #fff;
            border-bottom: 1px solid #FFF;
        }
    }

    .atendimentos {
        display: block;

        button {
            margin: 10px 10px 10px 0;
        }
    }

    /* Lifestyle */
    .lifestyle-title {
        animation: none;
        background-position: center;
    }

    .list {
        li {
            margin: 20px 0 20px 0;
        }
    }
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* Consultar Nutricionista */
    .consultar-nutri {
        height: 80%;
        background: url('../../../assets/img/background.png') no-repeat top/100%;
    }

    .title {
        h1 {
            font-size: 24px;
            border-bottom: none;
            text-align: start;
            margin-bottom: 0;
        }

        p {
            display: block;
            color: #fff;
            border-bottom: 1px solid #FFF;
        }
    }

    .atendimentos {
        display: block;

        button {
            margin: 10px 10px 10px 0;
        }
    }

    /* Lifestyle */
    .lifestyle-title {
        animation: none;
        background-position: center;
    }

    .lifestyle-body {
        display: flex;
        justify-content: space-between;
    }

    .list {
        li {
            margin: 20px 0 20px 0;
        }
    }

    .morangos {
        display: block;

        img {
            width: 50%;
        }
    }

    .atividades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        img {
            width: 35%;
            border-radius: 25px;
            margin: 10px 0 10px 0; 
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

// Telas grandes
@media screen and (min-width: 1200px) {

    /* Consultar Nutricionista */
    .consultar-nutri {
        height: 80%;
        background: url('../../../assets/img/background.png') no-repeat bottom/100%;

        .container {
            button {
                font-size: 20px;
            }
    
            input {
                font-size: 20px;
            }
        }
    }

    .title {
        h1 {
            font-size: 30px;
            border-bottom: none;
            text-align: start;
            margin-bottom: 0;
        }

        p {
            font-size: 24px;
            display: block;
            color: #fff;
            border-bottom: 1px solid #FFF;
        }
    }

    .atendimentos {
        display: block;

        button {
            margin: 10px 10px 10px 0;
        }
    }

    .formulario {
        width: 100%;

        div {
            display: flex;
            justify-content: space-between;

            mat-form-field {
                width: 48%;
            }
        }
    }

    /* Lifestyle */
    .lifestyle-title {
        animation: none;
        background-position: center;
    }
}