/* Mobile first */

/* Botões */
button {
    background-color: #F49320 !important;
    color: #FFF !important;

    &:hover {
        background-color: #ca7b1a !important;
    }
}

/* Desabilitado */ 
.disabled {
    cursor: default !important;
    background-color: #b9b9b9 !important;

    &:hover {
        background-color: #b9b9b9 !important;
    }
}

/* Consultar Nutricionista */
.consultar-nutri {
    width: 100%;
    height: 90%;
    background: url('../../../assets/img/background.png') no-repeat bottom/500%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        width: 80%;
    }
}

.title {
    margin-bottom: 5px;

    h1 {
        font-weight: bold;
        font-size: 22px;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 1px solid #FFF;
        text-align: center;
        margin-bottom: 5px;
    }

    p {
        display: none;
        color: #fff;
        border-bottom: 1px solid #FFF;
    }
}

.atendimentos {
    display: none;
    button {
        cursor: default;
    }
}

.formulario {
    mat-form-field {
        width: 100%;
    }

    /* div do botão do formulário */
    .submit {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}

/* Lifestyle */
.lifestyle {
    width: 100%;
    height: auto;
}

.lifestyle-title {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('../../../assets/img/lifestyle.png') no-repeat right;
    animation: moveBackground 4s linear infinite;

    h1 {
        font-size: 22px;
    }
}

// Animação para o background se mover:
@keyframes moveBackground {
    from {
        background-position: -150% 0;
    }

    to {
        background-position: 250% 0;
    }
}

.lifestyle-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    li {
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    img {
        width: 25px;
        margin-right: 5px;
    }
}

.morangos {
    display: none;
}

.atividades {
    display: none;
}

/* Área */
.area {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    width: 100%;

    section {
        width: 100%;
        background-color: #F2FFF5;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: -7px -7px #E6FBEA;
    }
}

.area-title {
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 5px dotted #E6FBEA;
}

.area-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;

        li {
            padding-top: 10px;
            display: flex;
            justify-content: start;
            align-items: center;
            font-weight: bold;
            font-size: 16px;

            img {
                margin-right: 5px;
            }
        }
    }
}

/* Benefícios */
.beneficios {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.beneficios-title {
    h1 {
        span {
            color: #28B225;
            font-size: 45px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.beneficios-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.beneficios-itens {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px dotted #E6FBEA;

        img {
            width: 30%;
        }

        section {
            margin-left: 20px;

            h3 {
                margin-bottom: 20px;
            }
        }
    }
}

/* Nutricionistas */
.nutricionistas {
    margin-top: 40px;
    padding: 10px;
    // background-color: #E6FBEA;
}

.nutricionistas-title {
    display: flex;
    justify-content: start;
    align-items: end;
    margin-bottom: 15px;

    p {
        margin-bottom: 15px;
        font-size: 20px;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #28B225;
    }

    section {
        padding: 5px 2px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: #28B225;
        border-radius: 10px;
        color: white;

        h1 {
            color: white;
        }
    }
}

.nutricionistas-list {
    li {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 10px 0 10px 0;

        mat-icon {
            color: #F49320;
            margin-right: 3px;
        }
    }
}

.nutricionistas-image {
    display: none;
}

/* Footer */
.footer {
    width: 100%;
    background: url('../../../assets/img/folhas.gif') no-repeat center/100%;
    background-color: #FDE9D2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        background-color: #FDE9D2;
        width: 55%;
    }

    p {
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 5px dotted #96C697;
        width: 80%;

        span {
            color: #A0D3C3;
        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: #A0D3C3;
            }
        }
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* Consultar Nutricionista */
    .consultar-nutri {
        height: 100%;
        background: url('../../../assets/img/background.png') no-repeat top/160%;

        .container {
            width: 70%;
        }
    }

    .title {
        h1 {
            font-size: 22px;
            border-bottom: none;
            text-align: start;
            margin-bottom: 0;
        }

        p {
            display: block;
            color: #fff;
            border-bottom: 1px solid #FFF;
        }
    }

    .atendimentos {
        display: block;

        button {
            margin: 10px 10px 10px 0;
        }
    }

    /* Lifestyle */
    .lifestyle-title {
        animation: none;
        background-position: center;
    }

    .list {
        li {
            margin: 20px 0 20px 0;
        }
    }

    /* Área */
    .area {
        section {
            width: 90%;
        }
    }

    /* Benefícios */
    .beneficios-body {
        justify-content: center;
        align-items: center;
    }

    .beneficios-itens {
        width: 70%;
    }

    /* Nutricionistas */
    .nutricionistas-title {
        h1 {
            font-size: 28px;
        }
    }

    .nutricionistas-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nutricionistas-image {
        display: flex;
        justify-content: center;
        padding: 50px;
        background: url('../../../assets/img/circulos.png') no-repeat center/45%;

        img {
            width: 50%;
            border-radius: 25px;
        }
    }

    /* Footer */
    .footer {
        background: url('../../../assets/img/folhas.gif') center/50%;
        background-color: #FDE9D2;

        img {
            width: 45%;
        }

        p {
            width: 70%;
        }
    }

}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* Consultar Nutricionista */
    .consultar-nutri {
        height: 100%;
        background: url('../../../assets/img/background.png') no-repeat top/130%;

        .container {
            width: 50%;
        }
    }

    .title {
        h1 {
            font-size: 24px;
            border-bottom: none;
            text-align: start;
            margin-bottom: 0;
        }

        p {
            display: block;
            color: #fff;
            border-bottom: 1px solid #FFF;
        }
    }

    .atendimentos {
        display: block;

        button {
            margin: 10px 10px 10px 0;
        }
    }

    /* Lifestyle */
    .lifestyle-title {
        animation: none;
        background-position: center;
    }

    .lifestyle-body {
        display: flex;
        justify-content: space-between;
    }

    .list {
        li {
            margin: 20px 0 20px 0;
        }
    }

    .morangos {
        display: block;

        img {
            width: 50%;
        }
    }

    .atividades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        img {
            width: 35%;
            border-radius: 25px;
            margin: 10px 0 10px 0;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    /* Área */
    .area {
        section {
            width: 90%;
        }
    }

    .area-itens {
        display: flex;
        flex-direction: row;

        ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }

    /* Benefícios */
    .beneficios-body {
        justify-content: center;
        align-items: center;
    }

    .beneficios-itens {
        width: 90%;
        display: flex;
        flex-direction: row;

        div {
            margin: 0 10px 0 10px;
        }
    }

    /* Nutricionistas */
    .nutricionistas-title {
        section {
            padding: 5px 2px 0 40px;
        }

        p {
            font-size: 22px;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 28px;
        }
    }

    .nutricionistas-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nutricionistas-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            width: 90%;
            margin: 5px 0 10px 0;
        }
    }

    .nutricionistas-image {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        padding: 50px;
        background: url('../../../assets/img/circulos.png') no-repeat center/37%;

        img {
            width: 40%;
            border-radius: 25px;
        }
    }

    /* Footer */
    .footer {
        background: url('../../../assets/img/folhas.gif') center/50%;
        background-color: #FDE9D2;

        img {
            width: 35%;
        }

        p {
            width: 60%;
        }
    }
}

// Telas grandes
@media screen and (min-width: 1200px) {

    /* Consultar Nutricionista */
    .consultar-nutri {
        height: 90%;
        background: url('../../../assets/img/background.png') no-repeat bottom/150%;

        .container {
            width: 50%;

            button {
                font-size: 20px;
            }

            input {
                font-size: 20px;
            }
        }
    }

    .title {
        h1 {
            font-size: 30px;
            border-bottom: none;
            text-align: start;
            margin-bottom: 0;
        }

        p {
            font-size: 24px;
            display: block;
            color: #fff;
            border-bottom: 1px solid #FFF;
        }
    }

    .atendimentos {
        display: block;

        button {
            margin: 10px 10px 10px 0;
        }
    }

    .formulario {
        width: 100%;

        div {
            display: flex;
            justify-content: space-between;

            mat-form-field {
                width: 48%;
            }
        }
    }

    /* Lifestyle */
    .lifestyle-title {
        animation: none;
        background-position: center;


        h1 {
            font-size: 30px;
        }
    }

    .lifestyle-body {
        display: flex;
        justify-content: space-between;
    }

    .list {
        li {
            margin: 40px 0 40px 0;
            font-size: 22px;
        }
    }

    .morangos {
        display: block;
    }

    .atividades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;

        img {
            width: 70%;
            border-radius: 25px;
            margin: 10px 0 10px 0;
        }

        div {
            display: flex;
            justify-content: space-between;
            width: 70%;

            img {
                width: 45%;
            }
        }
    }

    /* Área */
    .area {
        section {
            width: 70%;
        }
    }

    .area-title {
        h1 {
            font-size: 30px;
        }
    }

    .area-itens {
        display: flex;
        flex-direction: row;

        ul {
            display: flex;
            justify-content: space-around;
            width: 100%;

            li {
                font-size: 24px;
            }
        }
    }

    /* Benefícios */
    .beneficios-body {
        justify-content: center;
        align-items: center;
    }

    .beneficios-itens {
        width: 70%;
        display: flex;
        flex-direction: row;

        div {
            margin: 0 30px 10px 30px;

            img {
                width: 50%;
            }
        }
    }

    /* Nutricionistas */
    .nutricionistas-title {
        section {
            padding: 5px 2px 0 100px;
            border-radius: 25px;
        }

        p {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 50px;
            padding: 5px 20px 0 0;
        }

        h1 {
            font-size: 44px;
        }
    }

    .nutricionistas-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nutricionistas-list {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;

        p {
            margin: 25px 0 10px 0;
            width: 90%;
        }

        li {
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 30px 0 30px 0;
        }
    }

    .nutricionistas-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0 100px 0;
        width: 50%;
        background: url('../../../assets/img/circulos.png') no-repeat center/50%;

        img {
            width: 45%;
            border-radius: 25px;
        }
    }

    /* Footer */
    .footer {
        background: url('../../../assets/img/folhas.gif') center/50%;
        background-color: #FDE9D2;

        img {
            width: 25%;
        }

        p {
            width: 50%;
        }
    }
}