<!-- Consultar Nutricionista -->
<div class="consultar-nutri">
    <div class="container">
        <div class="title">
            <h1>Encontre um nutricionista</h1>
            <p>Nutricionistas especialistas em diversas áreas</p>
        </div>
    
        <div class="atendimentos">
            <button 
                mat-flat-button
                matTooltip="Entre em contato com um nutricionista para saber qual o tipo de atendimento que ele realiza"
            >
                Atendimento Presencial
            </button>
            <button 
                mat-flat-button
                matTooltip="Entre em contato com um nutricionista para saber qual o tipo de atendimento que ele realiza"
            >
                Teleconsulta
            </button>
        </div>
    
        <div class="formulario">
            <form [formGroup]="formulario">
    
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Nome do Nutricionista</mat-label>
                    <input matInput formControlName="nome">
                </mat-form-field>
    
                <div>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Especialidade</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
        
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Região</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
                </div>
    
                <div class="submit">
                    <button mat-flat-button type="submit" (click)="submeterFormulario()">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Lifestyle -->
<div class="lifestyle">
    <div class="lifestyle-title">
        <h1>Porque Escolher o Nutriguide?</h1>
    </div>
    <div class="lifestyle-body">
        <div class="morangos">
            <img src="../../../assets/img/morangos.png" alt="Morangos">
        </div>
        <div class="list">
            <ul>
                <li><img src="../../../assets/img/check.png" alt="Check">Procure por nutricionistas especialistas.</li>
                <li><img src="../../../assets/img/check.png" alt="Check">Acesso a comunidade de nutricionistas.</li>
                <li><img src="../../../assets/img/check.png" alt="Check">Planos Alimentares disponíveis a todo momento.</li>
                <li><img src="../../../assets/img/check.png" alt="Check">Atendimentos preseneciais e Teleconsulta.</li>
                <li><img src="../../../assets/img/check.png" alt="Check">Acompanhamento personalizado.</li>
                <li><img src="../../../assets/img/check.png" alt="Check">Registro de Evolução.</li>
            </ul>
        </div>
        <div class="atividades">
            <div>
                <img src="../../../assets/img/meditacao.png" alt="Meditação">
                <img src="../../../assets/img/corrida.png" alt="Corrida">
            </div>
            <img src="../../../assets/img/comidas.png" alt="Frutas">
        </div>
    </div>
</div>
