* {
    margin: 0;
    padding: 0;
    font-family: Overpass;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Configurações do scroll bar globalmente */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
    background-color: #CBEDCB;
    border-radius: 20px;
}